<%= stylesheet_link_tag 'welcome' %>




    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="container">
          <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
      <span id="reauth-email" class="reauth-email"></span>
        <%= f.email_field :email, autofocus: true,placeholder:"Password",class:"form-control" %>
        <%= f.password_field :password, autocomplete: "off",placeholder:"Password",class:"form-control" %>
        <% if devise_mapping.rememberable? -%>
      <div id="remember" class="checkbox">
        <label>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </label>
      </div>
        <% end -%>
      <%= f.submit "Log in",class:"btn btn-lg btn-primary btn-block btn-signin" %>
          </div>
        </div>
    <% end %>
